@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono&family=Readex+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modtree-gradient {
    @apply bg-gradient-to-r from-pink-400 to-orange-400;
  }
  .modtree-solid {
    background-color: #ff4000;
  }
  .button-base {
    @apply h-8 w-min px-4
      flex justify-center items-center
      select-none cursor-pointer
      border rounded-md
      text-sm font-medium whitespace-nowrap
      disabled:text-neutral-400 disabled:cursor-auto;
  }
  .button-gray {
    @apply button-base
      border-gray-300
      text-gray-800
      bg-gray-100;
  }
  .button-gray:enabled {
    @apply hover:bg-gray-200
      active:bg-gray-300;
  }
  .button-red {
    @apply button-gray
      text-red-600;
  }
  .button-red:enabled {
    @apply hover:text-white
      hover:bg-red-700
      hover:border-red-700
      active:bg-red-800;
  }
  .button-green {
    @apply button-base
      text-neutral-50
      border-green-700
      bg-green-600;
  }
  .button-green:enabled {
    @apply hover:bg-green-700 active:bg-green-800;
  }
}

html {
  @apply bg-gray-50 text-gray-900;
}

body {
  @apply tracking-tight;
}

span {
  @apply select-text;
}

.react-flow__pane {
  @apply select-none;
}

.react-flow__node {
  @apply bg-transparent rounded-lg p-0.5;
}

.react-flow__node.selected {
  @apply bg-gradient-to-r from-orange-400 to-pink-400;
}

.react-flow__attribution {
  @apply hidden;
}
