@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono&family=Readex+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .centered {
    @apply items-center justify-center;
  }
  .modtree-gradient {
    @apply bg-gradient-to-r from-pink-400 to-orange-400;
  }
  .modtree-solid {
    background-color: #ff4000;
  }
  .ui-rectangle {
    @apply bg-gray-100 border border-gray-300 rounded-md;
  }
  .ui-icon {
    @apply inline text-gray-600;
  }
  .button-base {
    @apply ui-rectangle h-8 w-min px-4
      flex justify-center items-center
      select-none cursor-pointer
      text-base font-medium whitespace-nowrap
      disabled:text-neutral-400 disabled:cursor-auto;
  }
  .button-gray {
    @apply button-base
      border-gray-300
      text-gray-800
      bg-gray-100;
  }
  .button-gray:enabled {
    @apply hover:bg-gray-200
      active:bg-gray-300;
  }
  .button-red {
    @apply button-gray
      text-red-600;
  }
  .button-red:enabled {
    @apply hover:text-white
      hover:bg-red-700
      hover:border-red-700
      active:bg-red-800;
  }
  .button-green {
    @apply button-base
      text-neutral-50
      border-green-700
      bg-green-600;
  }
  .button-green:enabled {
    @apply hover:bg-green-700 active:bg-green-800;
  }
}
